[Unit]
Description=Impact50-0 Application
After=graphical.target
Required=graphical.target

[Service]
WorkingDirectory=/home/raspberrypi/Impact
ExecStart=/usr/bin/python3 /home/raspberrypi/Impact/code/main.py
User=raspberrypi

[Install]
WantedBy=graphical.target
